# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use text mode install
text
# Run the Setup Agent on first boot
firstboot --enable
# Keyboard layouts
keyboard us
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --onboot=yes --ipv6=auto --no-activate
network  --hostname=localhost.localdomain

#Root password
rootpw password
# System services
services --enabled="chronyd"
# Do not configure the X Window System
skipx
# System timezone
timezone UTC
# System bootloader configuration
bootloader
autopart
# Partition clearing information
clearpart --all
reboot --eject

%packages --nocore --nobase
@core --nodefaults
chrony
%end
